@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

$black: rgb(0, 0, 0);
$white: rgb(240, 240, 240);
$grey: rgb(198, 194, 201);
$orange: rgb(255, 129, 0);
$gapWidth: 2px;

body {
  background-color: $white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: black;
  width: 85%;
  height: 90%;
  border: 3px solid $black;
  border-radius: 5px;
  display: grid;
  gap: $gapWidth;
  grid-template-columns: 1fr repeat(4, 3fr);
  grid-template-rows: 1fr 1fr 3.2fr 3.2fr;
}

.logo {
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  grid-row: span 2;
  grid-column: span 2;
}

.title {
  box-sizing: border-box;
  padding-left: 20px;
  background-color: $white;
  grid-column: span 3;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.nav {
  background-color: $white;
  box-sizing: border-box;
  padding: 20px;
  .nav-title {
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 20px;
  }
  .nav-desc {
    font-size: 12px;
  }
}

.banner {
  grid-row: span 2;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 300;
  overflow: hidden;
  position: relative;
  span {
    position: absolute;
    width: max-content;
    color: white;
    font-weight: 600;
    font-size: 26px;
    animation: slide 5s linear infinite;
  }
}

// 1. 텍스트를 엄청 길게 한다. (왜냐하면 전체를 다 쓸 게 아니라 중간만 쓸 것이기 때문)
// 2. 0%와 100%를 각각 같게 해서 고정해서 계속 비교해 본다.
// 3. 두 지점일 때 텍스트의 위치가 동일해야 한다.

@keyframes slide {
  0% {
    transform: translateY(-3000%) rotateZ(90deg);
  }
  100% {
    transform: translateY(calc(0% + 40px)) rotateZ(90deg);
  }
}

.post {
  overflow-y: scroll;
  background-color: $white;
  box-sizing: border-box;
  padding: 20px;
  .post-title {
    font-weight: 800;
    font-size: 30px;
    width: 180px;
    margin-bottom: 15px;
  }
  .post-content {
    line-height: 20px;
    font-size: 15px;
  }
}
.image {
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
}
.post-outside {
  background-color: $grey;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .outside__box {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background-color: $white;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    .post-title {
      font-weight: 800;
      font-size: 30px;
      width: 180px;
      margin-bottom: 15px;
    }
    & > a {
      color: black;
    }
  }
}

.post-big {
  overflow-y: scroll;
  background-color: $white;
  grid-column: span 3;
  padding: 20px;
  .post-big__title {
    font-size: 190px;
    font-weight: 900;
  }
  .post-big__content {
    line-height: 20px;
    font-size: 15px;
  }
}
